li {
	width: 200px;
	height: 45px;
	line-height: 45px; list-style : none;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px #c0c0c0 solid;
	color: #999;
	list-style: none;
}

li:hover {
	background-color: #9bd5ff;
	opacity: 0.8;
	color: #000;
}
.active{
	background-color: #9bd5ff;
	opacity: 0.8;
	color: #000000;
}
.unread{
	width:50px;
	height:50px;
	background-color: #ffff00;
	border-radius: 20%;
}