<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>我的商品</title>
<link rel="stylesheet" th:href="@{/moon/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/icon/css/font-awesome.min.css}" />
</head>
<body class="bg-c">
	<div class="container-fluid" id="app">
		<div class="row">
			<div class="col text-center bg-warning text-white shadow">我的拍卖</div>
		</div>
			<div class="mt-2">
				<table class="table">
					<tr>
						<th>商品</th>
						<th>商品名称</th>
						<th>起拍价</th>
						<th>截止时间</th>
						<th>最小加价</th>
						<th>状态</th>
						<th>详情</th>
					</tr>
					<tr v-for="mypro in myproductdata">
						<td><img alt="" :src="mypro.img|imgfilter" width="50px"></td>
						<td><a :href="'detail?id='+mypro.id">{{mypro.pname}}</a></td>
						<td>{{mypro.price}}</td>
						<td>{{mypro.time|dateTime}}</td>
						<td>{{mypro.minimumAdd}}</td>
						<td>{{mypro.state}}</td>
						<td><a id="detail" href="javascript:;" @click="getHistory(mypro.id)">出价详情</a></td>
					</tr>
				</table>
			</div>
		
	</div>
	<!-- js -->
	<script th:src="@{/moon/js/jquery.js}"></script>
	<script th:src="@{/moon/js/vue.js}"></script>
	<script th:src="@{/layer/layer.js}"></script>
	<script th:src="@{/moon/js/moment.min.js}"></script>
	<script th:inline="javascript">
		//
		var app = new Vue({
			el : "#app",
			data : {
				myproductdata : []
			},
			methods : {
				getorder:function(){
					$.post("/pp/Product/getmyproduct",
							{
						
							},function(data){
								app.myproductdata=data;
							})
							
				},
				getHistory:function(id){
					layer.open({
						type : 2,
						title : "拍卖详情",
						content : "/history?id="+id,
						area : [ "80%", "90%" ],
						//offset : "50px",
						anim : 2,
					});
				}
			},
			filters:{
				dateTime: function(value){
					return value == null ? '' : moment(value).format('YYYY-MM-DD HH:mm:ss');
					},
				date: function(value){
				return value == null ? '' : moment(value).format('YYYY-MM-DD');
				},
				imgfilter : function(value) {
					if (value != null) {
						var ss = value.split(',')[0];
						return "http://127.0.0.1/pro_img/" + ss;
					}
				}
			},
			mounted:function(){
				this.getorder();
			}
		})
	</script>
</body>
</html>