<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>注册</title>
<link rel="stylesheet" th:href="@{/moon/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/icon/css/font-awesome.min.css}" />
</head>
<body class="bg-a">
	<div class="container-fluid mt-5">
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<div class="card border-light">
					<div class="card-header text-center bg-info text-white">
						<i class="fa fa-gavel" aria-hidden="true"></i> &nbsp;蜗牛拍拍/注册
					</div>
					<form action="/moon/SysUser/register" class=" card card-body"
						id="form-reg" method="POST">
						<table class="table table-light">
							<TBODY>
								<tr>
									<td class="text-right">登录名<small>|6-18位字母数字</small></td>
									<td><input class="form-control form-control-sm"
										maxlength="18" minlength="6" name="uname" id="uname"
										required="" type="text" /></td>
								</tr>
								<tr>
									<td class="text-right">密码<small>|6-16位字母数字</small></td>
									<td><input class="form-control form-control-sm"
										maxlength="16" minlength="6" id="password" name="password"
										required="" type="password" /></td>
								</tr>
								<tr>
									<td class="text-right">重复密码</td>
									<td><input class="form-control form-control-sm"
										maxlength="16" minlength="6" id="repass" name="repass"
										required="" type="password" /></td>
								</tr>
								<tr>
									<td class="text-right">电子邮箱
										<button class="btn btn-sm btn-outline-info" id="btn-code"
											onclick="getcode();" type="button">
											<small>发送验证码</small>
										</button>
									</td>
									<td><input class="form-control form-control-sm"
										email="true" id="email" name="email" required="" type="text" /></td>


									<td></td>
								</tr>
								<tr>
									<td class="text-right">验证码</td>
									<td><input class="form-control form-control-sm" id="code"
										name="code" required="" type="text" /></td>
									<td></td>
								</tr>

								<tr>
									<td></td>
									<td><button class="btn btn-outline-info ml-3"
											type="button" onclick="register()">提交注册</button>&nbsp;<a
										class="text-success font-weight-bold" href="/login">->去登录</a></td>
								</tr>
							</TBODY>
						</table>
						<div class="mt-5"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- js -->
	<script th:src="@{/moon/js/jquery.js}"></script>
	<script th:src="@{/moon/js/vue.js}"></script>
	<script th:src="@{/layer/layer.js}"></script>
	<script th:src="@{/jqform/jquery.form.js}"></script>
	<script th:inline="javascript">
	//获取验证码
	function getcode() {
		//btn-disable
		$("#btn-code").attr("disabled", true);
		//post
		$.post("/pp/User/getcode", {
			email : $("#email").val()
		}, function(data) {
			$("#btn-code").attr("disabled", false);
			if (data != "success") {
				layer.msg(data);
				return;
			}
			//success
			layer.msg("验证码已发送到您的邮箱");
		});
	}
	//注册
	function register(){
		$.post("/pp/User/register",{
		uname:$('#uname').val(),
		password:$('#password').val(),
		repass:$('#repass').val(),
		email:$('#email').val(),
		code:$('#code').val(),
		},function(data){
			layer.msg(data);
			return;
			
		})
	}
	</script>
</body>
</html>