<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>买家中心</title>
<link rel="stylesheet" th:href="@{/moon/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/icon/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/upload/css/uploader.css}" />
<link rel="stylesheet" th:href="@{/date/flatpickr.css}" />
<link rel="stylesheet" th:href="@{/webupload/webuploader.css}">
</head>
<body class="">
	<div class="container-fluid" id="app">
		<div class="row">
			<div class="ml-2 col-6 offset-6">
				<div class="card border-light mt-2">
					<div class="text-center bg-info text-white shadow">添加商品</div>
					<!-- <form action="/pp/Product/addProduct" method="POST"  class=" card card-body"
						id="form-reg" enctype="multipart/form-data"> -->
					<table class="table table-light">
						<TBODY>
							<tr>
								<td class="text-right">商品名字:</td>
								<td><input class="form-control form-control-sm"
									name="pname" id="pname" maxlength="25" minlength="16"
									required="" type="text" /></td>
							</tr>
							<tr>
								<td class="text-right">区域:&nbsp;&nbsp;</td>
								<td data-toggle="distpicker" class="form-inline"><label
									class="sr-only" for="province1">Province</label> <select
									class="form-control  form-control-sm" id="province"></select>
									<label class="sr-only" for="city1">City</label> <select
									class="form-control  form-control-sm" id="city"></select>
									&nbsp;&nbsp;</td>
							</tr>
							<!-- <tr>
									<td class="text-right"class="text-right" >截止时间:</td>
									<td><input class="form-control form-control-sm"
										 id="time" name="time"
										required="" type="datetime" /></td>
								</tr> -->
							<tr>
								<td class="text-right"><label>截止时间:</label></td>
								<td><input class="flatpickr form-control form-control-sm"
									data-enable-time=true data-enable-seconds="true"
									data-time_24hr=true id="time"></td>
							</tr>
							<tr>
								<td class="text-right">价格:</td>
								<td><input class="form-control form-control-sm"
									minlength="1" id="price" required="" type="text" /></td>
							</tr>
							<tr>
								<td class="text-right">最小加价:</td>
								<td><input class="form-control form-control-sm"
									minlength="1" id="minimumAdd"  required=""
									type="text" /></td>
							</tr>
							<tr>
								<td id="filePicker" class="text-right">选择图片</td>
								<td><button class="btn btn-lg btn-success text-right"
										type="button" id="tijiao">提交</button></td>
							</tr>
						</TBODY>
					</table>
					<!--用来存放item-->
					<div id="fileList" class="uploader-list row"></div>
					<!-- </form> -->
				</div>
			</div>
		</div>
	</div>

	<!-- js -->
	<script th:src="@{/moon/js/jquery.js}"></script>
	<script th:src="@{/moon/js/vue.js}"></script>
	<script th:src="@{/layer/layer.js}"></script>
	<script th:src="@{/date/flatpickr.js}"></script>
	<script th:src="@{/webupload/webuploader.js}"></script>
	<script th:src="@{/adress/distpicker.data.min.js}"></script>
	<script th:src="@{/adress/distpicker.min.js}"></script>
	<script th:inline="javascript">
		var $list = $('#fileList');
		//开启日期插件
		$('#time').flatpickr({
			minDate : new Date(), //最小日期
			//maxDate : new Date().getTime() + 24 * 60 * 60 * 7000 //最大日期
		});
		// 初始化Web Uploader
		var uploader = WebUploader.create({
			// 选完文件后，是否自动上传。
			auto : false,
			// swf文件路径
			swf : 'http://127.0.0.1/js/Uploader.swf',
			// 文件接收服务端。
			server : '',
			// 选择文件的按钮。可选。
			// 内部根据当前运行是创建，可能是input元素，也可能是flash.
			//pick : '#filePicker',
			pick : {
				id : '#filePicker', //选择文件的按钮
				multiple : true
			},
			// 只允许选择图片文件。
			accept : {
				title : 'Images',
				extensions : 'gif,jpg,jpeg,bmp,png',
				mimeTypes : 'image/*'
			},
			fileNumLimit : 4,
			compress:{
			    width: 800,
			    height: 800,

			    // 图片质量，只有type为`image/jpeg`的时候才有效。
			    quality: 90,

			    // 是否允许放大，如果想要生成小图的时候不失真，此选项应该设置为false.
			    allowMagnify: false,

			    // 是否允许裁剪。
			    crop: true,

			    // 是否保留头部meta信息。
			    preserveHeaders: true,

			    // 如果发现压缩后文件大小比原来还大，则使用原来图片
			    // 此属性可能会影响图片自动纠正功能
			    noCompressIfLarger: false,

			    // 单位字节，如果图片大小小于此值，不会采用压缩。
			    compressSize: 0
			}
		});
		// 当有文件添加进来的时候
		uploader
				.on(
						'fileQueued',
						function(file) {

							var $li = $('<div id="' + file.id + '" class="file-item thumbnail">'
									+ '<img>'
									+ '<div class="info">'
									+ file.name
									+ '</div>'
									+ '<button class="remove-this btn btn-sm bg-danger" >删除</button>'
									+ '</div>'),
							 $img = $li.find('img');
							// $list为容器jQuery实例
							$li.on('click', '.remove-this', function() {
								//alert(111);
								uploader.removeFile(file, true);
								$list.remove(this);
								//alert(uploader.getFiles().length);
							})
							$list.append($li);
							// 创建缩略图
							// 如果为非图片文件，可以不用调用此方法。
							// thumbnailWidth x thumbnailHeight 为 100 x 100
							uploader.makeThumb(file, function(error, src) {
								if (error) {
									$img.replaceWith('<span>不能预览</span>');
									return;
								}
								$img.attr('src', src);
							}, 100, 100);
						});

		uploader.on('error', function(handler, file) {
			if (handler == "Q_EXCEED_NUM_LIMIT") {
				layer.msg("最多传4张照片");
			}
		});
		/* uploader.option( 'compress', {
		    width: 800,
		    height: 800
		}); */
		$('#tijiao').click(function(){
			var formData = new FormData();
			var files = uploader.getFiles();
			formData.append('files', '');
			for (var i = 0; i < files.length; i++) {
			    formData.append('files', files[i].source.source);
			}
			formData.append('pname',$('#pname').val());
			formData.append('province',$('#province').val());
			formData.append('city',$('#city').val());
			formData.append('time',$('#time').val());
			formData.append('price',$('#price').val());
			formData.append('minimumAdd',$('#minimumAdd').val());
		    $.ajax({
                type: 'post',
                url: '/pp/Product/addProduct',
                data: formData,
                contentType: false,// 当有文件要上传时，此项是必须的，否则后台无法识别文件流的起始位置(详见：#1)
                processData: false,// 是否序列化data属性，默认true(注意：false时type必须是post，详见：#2)
                success: function(data) {
                   if(data=="success"){
                  	 layer.msg("管理员会在二十四小时内审核");
						setTimeout(function(){
							location.href="upload";
						},500)                	   
                   }
                   else
                	   layer.msg("请稍后重试");
                }
            })
			//var request = new XMLHttpRequest();
			//request.open("POST", );
			//request.send(formData);
		})
	
	</script>
</body>
</html>